{% extends "user.html" %}

{% block content %}
<div class="container-fluid">
      <div class="row">
            <div class="col-6">
                  {{ super() }}
            </div>

            <div class="col-6">
                  {% block match_head %}<h3>{{ match_data._id }}
                        {{mydate.fromtimestamp(match_data.info.gameStartTimestamp/1000).strftime('%Y-%m-%d %H:%M:%S')}}
                  </h3>{% endblock %}

                  <div id="accordion-players">
                        <div class="card">
                              <div class="card-header" id="heading-players">
                                    <h5 class="mb-0">
                                          <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapse-players" aria-expanded="true"
                                                aria-controls="collapse-players">
                                                Players
                                          </button>
                                    </h5>
                              </div>
                              <div id="collapse-players" class="collapse show" aria-labelledby="heading-players"
                                    data-parent="#accordion-players">
                                    <div class="card-body">
                                          {% for player in match_data.info.participants %}
                                          <div id="accordion-players-{{loop.index}}">
                                                <div class="card">
                                                      <div class="card-header" id="heading-players-{{loop.index}}">
                                                            <h5 class="mb-0">
                                                                  <form action="/validuser" method="post">
                                                                        {% if player.championName == "FiddleSticks" %}
                                                                              
                                                                        <a
                                                                              href="https://leagueoflegends.fandom.com/wiki/Fiddlesticks/LoL" target="_blank">
                                                                              <img src="/static/{{current_version}}/img/champion/Fiddlesticks.png"
                                                                                    height="32px" width="32px">
                                                                        </a>
                                                                        {% else %}

                                                                        <a
                                                                              href="https://leagueoflegends.fandom.com/wiki/{{ player.championName }}/LoL" target="_blank">
                                                                              <img src="/static/{{current_version}}/img/champion/{{ player.championName }}.png"
                                                                                    height="32px" width="32px">
                                                                        </a>
                                                                        {% endif %}
                                                                        {{ player.champLevel }}
                                                                        {% if player.win == true %}

                                                                        <button type="button" class="btn btn-link"
                                                                              data-toggle="collapse"
                                                                              data-target="#collapse-players-{{loop.index}}"
                                                                              aria-expanded="true"
                                                                              aria-controls="collapse-players-{{loop.index}}"
                                                                              style="color: rgb(31, 142, 205);">
                                                                              {{ player.summonerName }}
                                                                              {{ player.kills }}/{{
                                                                              player.deaths}}/{{player.assists
                                                                              }}
                                                                        </button>

                                                                        {% else %}

                                                                        <button type="button" class="btn btn-link"
                                                                              data-toggle="collapse"
                                                                              data-target="#collapse-players-{{loop.index}}"
                                                                              aria-expanded="true"
                                                                              aria-controls="collapse-players-{{loop.index}}"
                                                                              style="color: rgb(198, 68, 62);">
                                                                              {{ player.summonerName }}
                                                                              {{ player.kills }}/{{
                                                                              player.deaths}}/{{player.assists
                                                                              }}
                                                                        </button>
                                                                        {% endif %}
                                                                        <button type="submit" class="btn btn-link"
                                                                              id="username" name="username"
                                                                              value="{{ player.summonerName }}"
                                                                              style="float: right;">
                                                                              Go To Profile
                                                                        </button>
                                                                        {% for x in range(7) %}
                                                                        {% set itemid = "item" + x|string %}
                                                                        {% if player[itemid] != 0 %}
                                                                        <a 
                                                                              href="https://leagueoflegends.fandom.com/wiki/{{ item_info[player[itemid]][0] }}" target="_blank">
                                                                              <img src="/static/{{current_version}}/img/item/{{ player[itemid] }}.png"
                                                                                    data-bs-toggle="tooltip"
                                                                                    id="{{ player[itemid] }}"
                                                                                    height="32px" width="32px"
                                                                                    style="float: right;"
                                                                                    title="{{ item_info[player[itemid]][0] }}{% if item_info[player[itemid]][1] != '' %} : {{item_info[player[itemid]][1]}} {% endif %}">
                                                                        </a>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                  </form>
                                                            </h5>
                                                      </div>
                                                      
                                                      <div id="collapse-players-{{loop.index}}" class="collapse"
                                                            aria-labelledby="heading-players-{{loop.index}}"
                                                            data-parent="#accordion-players-{{loop.index}}">
                                                            <div class="card-body">
                                                                  <table>
                                                                        {% for key, value in player.items() %}
                                                                        <tr>
                                                                              <td>{{key}}</td>
                                                                              <td class="table-value">{{value}}</td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                  </table>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          {% endfor %}
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div id="accordion-match">
                        <div class="card">
                              <div class="card-header" id="heading-match">
                                    <h5 class="mb-0">
                                          <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapse-match" aria-expanded="true"
                                                aria-controls="collapse-match">
                                                Match info
                                          </button>
                                    </h5>
                              </div>
                              <div id="collapse-match" class="collapse" aria-labelledby="heading-match"
                                    data-parent="#accordion-match">
                                    <div class="card-body">
                                          {% set _dummy=match_data.info.pop("participants") %}
                                          <table>
                                                {% for key,value in match_data.info.items() %}
                                                <tr>
                                                      <td>{{key}}</td>
                                                      <td>{{value}}</td>
                                                </tr>
                                                {% endfor %}
                                          </table>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
{% endblock %}
<!-- {% block script %}
<script>

</script>
{% endblock %} -->