{% extends "base.html" %}
{% block content %}
<div class="container page-form">
      <form action="/validuser/updated" id="name-form" method=["get","post"]>
            {% block title %}{{ matches["name"] }}{% endblock %}
            <ul>
                  {% for match in matches["matchIds"] %}
                  <li><a href="/match/{{ match }}">{{ match }}</a></li>
                  {% endfor %}
            </ul>
            <p>Select the match you wish to view</p>

            <button class="btn btn-success" type="submit">load new matches</button>

      </form>
</div>
{% endblock %}
<!-- <div class="page-header"> -->