{% extends "user.html" %}
{% block head %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block content %}
<div class="container-fluid name-form">
      <div class="row">
            <div class="col-6">
                  {{ super()}}
                  {% set matchIds=player_info.pop("matchIds") %}
            </div>

            <div class="col-6">
                  {% block matchlist %}<h3>Matchlist</h3>{% endblock %}
                  <form action="/matchlist/updated" id="name-form" method=["GET,POST"]>
                        <p>Select the match you wish to view</p>
                        <button class="btn btn-success" type="submit">load new matches</button>
                  </form>
                  <table id="matchtable" class="order-column display table table-striped table-bordered">
                        <thead>
                              <th>Match Ids</th>
                        </thead>
                        <tbody>
                              {% for match in matchIds %}
                              <tr>
                                    <td><a href="/match/{{ match }}">{{ match }}</a></td>
                              </tr>
                              {% endfor %}
                        </tbody>
                  </table>

            </div>
      </div>
</div>


{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<script>
      let temp = {
            "order": [[0, 'desc']]
      }
      $(document).ready(function () {
            $('#matchtable').DataTable(temp);
      });
</script>
{% endblock %}
<!-- <div class="page-header"> -->