{% extends 'base.html' %}

{% block content %}
{% block title %} <h3>User</h3> {% endblock %}
<div id="accordion-user">
    <div class="card">
        <div class="card-header" id="heading-user">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-user" aria-expanded="true"
                    aria-controls="collapse-user">
                    <img src="/static/{{current_version}}/img/profileicon/{{ player_info.userData[0]['profileIconId'] }}.png"
                        height="32px" width="32px">
                    {{name}}
                </button>
            </h5>
        </div>
        <div id="collapse-user" class="collapse show" aria-labelledby="heading-user" data-parent="#accordion-user">
            <div class="card-body">
                <div class="card-text">
                    <table class="card-table">
                        <tr>
                            <td>Name</td>
                            <td class="table-value">{{player_info["name"]}}</td>
                        </tr>
                        <tr>
                            <td>Summoner Level</td>
                            <td class="table-value">{{player_info["userData"][0]["summonerLevel"]}}</td>
                        </tr>
                        {% if player_info["summonerEntries"][0] %}
                        <tr>
                            <td class="table-key">summonerEntries</td>
                            <td>{{player_info["summonerEntries"][0]}}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}